.video-dashboard {
  position: relative;
  top: var(--dashboard-search-height);
}

.action-container {
  position: fixed;
  top: var(--app-header-height);
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--mat-app-background-color);
  padding: 0 300px;
  height: var(--dashboard-search-height);

  .refresh-btn {
    margin-right: 2rem;
  }

  .search-box {
    flex: 1;

    .material-icon.btn {
      margin-right: 5px;
      font-size: 45px;
    }
  }
}

.no-videos {
  margin-top: 2em;
  text-align: center;
  font-weight: 500;
  color: rgb(64, 64, 64);
}
