.player-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-view {
  width: 900px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
  }

  .back-action {
    display: flex;
    align-items: center;
    cursor: pointer;

    .back-btn {
      border: none;
      background: none;
      font-size: 35px;
    }
  }

  .video-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.video-card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 0;

  .video-title {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
    color: #333;
  }

  .video-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #444;
  }

  .video-description {
    background: var(--bs-gray-200);
    padding: 15px;
    border-radius: 10px;
    margin-top: 1em;
    font-size: 13px;
    color: #666;
    white-space: pre-line;
    line-height: 1.2;

    .description-toggle {
      text-decoration: none;
      display: block;
      color: #545454;
      line-height: 2rem;
      font-weight: 500;
    }
  }
}
