:root {
  // COLORS
  --app-primary-bg-color: #d7e3ff;
  --app-primary-contrast-color: #005cbb;
  --app-text-color: #1a1b1f;

  // DIMENSIONS
  --app-header-height: 60px;
  --dashboard-search-height: 80px;
}
